.student-card{
  padding: 15px;
  width: 325px;
  border: 1px solid var(--acients-col);
  border-radius: 10px;
}

.student-image{
  border-radius: 50%;
}

.student-info-wrapper{
  gap: 10px;
  margin-top: 25px;
}
