.login-input{
  width: 100%;
  
}

.login-input > input{
  font-size: var(--font-size-base); 
  padding: 11px;
  border-radius: 5px;
  border: 1px solid var(--input-bor-col);
  outline-color: var(--input-bor-col);

}

.login-input > input::placeholder{
  color: var(--acients-col);
}

.login-input > label{
  margin-bottom: 3px;
  color: var(--acients-col);
}