.auth-container{
  width: 100vw;
  height: 100vh;
}

.login-container{
  width: 516px;
  min-width: 350px;
  padding: 50px;
  border-radius: 15px;
  border: 2px solid var(--input-bor-col);
  gap: 35px;
}

.input-wrapper{
  width: 100%;
  gap: 13px;
}

.login-wrapper{
  gap: 25px;
}

.auth-switch:hover{
  cursor: pointer;
  opacity: 0.8;
}

.first-last-name-input{
  gap: 15px
}

.role-selection{
  gap: 10px;
}

.custom-radio{
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid var(--primary-col);
  outline: none;
  cursor: pointer;
  margin-right: 10px;
}

.custom-radio:checked {
  background-color: var(--primary-col);
}