.auth-container{
  width: 100vw;
  height: 100vh;
}

.login-container{
  width: 516px;
  min-width: 350px;
  padding: 50px;
  border-radius: 15px;
  border: 2px solid var(--input-bor-col);
  gap: 35px;
}

.input-wrapper{
  width: 100%;
  gap: 13px;
}

.login-wrapper{
  gap: 25px;
}
